<!DOCTYPE html>
<h1>Mascotas guardadas</h1>
{% if mascotas | length > 0 %}
    <ul>
        {% for mascota in mascotas %}
            <li>{{mascota["nombre"]}} ({{mascota["tipo"] | upper}})</li>
        {% endfor %}
    </ul>
{%else%}
    <h3>No hay mascotas todavía</h3>
{%endif%}

<h1>Crear nueva mascota</h1>
<form action="/mascotas" method="POST">
    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" /><br/>
    <label for="nombre">nombre</label>
    <input type="text" name="nombre" /><br/>
    {% if estado == "1" %}
        <p style="color: green">Mascota guardada!</p>
    {% endif %}
    <input type="submit" value="Guardar!">
</form>